  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Cafe Name</th>
      <th>Location</th>
      <th>Open</th>
      <th>Close</th>
      <th>Coffee</th>
      <th>Wifi</th>
      <th>Power</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Lighthaus</td>
      <td>https://goo.gl/maps/2EvhB4oq4gyUXKXx9</td>
      <td>11AM</td>
      <td>3:30PM</td>
      <td>☕☕☕☕️</td>
      <td>💪💪</td>
      <td>🔌🔌🔌</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Esters</td>
      <td>https://goo.gl/maps/13Tjc36HuPWLELaSA</td>
      <td>8AM</td>
      <td>3PM</td>
      <td>☕☕☕☕</td>
      <td>💪💪💪</td>
      <td>🔌</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Ginger &amp; White</td>
      <td>https://goo.gl/maps/DqMx2g5LiAqv3pJQ9</td>
      <td>7:30AM</td>
      <td>5:30PM</td>
      <td>☕☕☕</td>
      <td>✘</td>
      <td>🔌</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Mare Street Market</td>
      <td>https://goo.gl/maps/ALR8iBiNN6tVfuAA8</td>
      <td>8AM</td>
      <td>1PM</td>
      <td>☕☕</td>
      <td>💪💪💪</td>
      <td>🔌🔌🔌</td>
    </tr>
  </tbody>
</table>